* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0px;
}

header {
  height: 120px;
  position: fixed;
  width: 100%;
  background-color: white;
}

div.foo {
  height: 120px;
}

.logo {
  width: 48px;
}

.align-center {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
  height: 88px;
  padding: 16px;
}

nav {
  margin-left: 150px;

  a {
    text-decoration: none;
    padding: 4px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
  }
}

.media-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;

  ul {
    display: flex;
    li {
      padding: 8px;
      list-style-type: none;
      i {
        font-size: 24px;
      }
    }
  }
}

.content {
  background-color: $medium-champagne;
}

.footer-container {
  display: flex;
  align-items: center;
  height: 60px;

  p {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
  }
}
