* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0px;
}

header {
  height: 120px;
}

.logo {
  width: 48px;
}

.header-container {
  display: flex;
  align-items: center;
  width: 80%;
  height: 88px;
  max-width: 1000px;
  margin: auto;
  padding: 16px;
}

nav {
  margin-left: 120px;

  a {
    text-decoration: none;
    padding: 4px;
    font-family: sans-serif;
  }
}

.media-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;

  ul {
    display: flex;
    li {
      padding: 4px;
      list-style-type: none;
    }
  }
}

.content {
  background-color: $medium-champagne;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 80%;
  height: 60px;
  max-width: 1000px;
  margin: auto;
}

.post-container, 
.content-container {
  width: 80%;
  max-width: 1000px;
  margin: 32px auto;
  padding: 64px 150px 90px;
  background-color: white;
  border-radius: 16px;
  box-sizing: border-box;

  h1 {
    text-align: center;
    margin: 16px 0px;
  }

  img {
    max-width: 240px;
    max-height: 400px;
    margin: 16px;
    border: 4px solid $middle-blue-green;
    border-radius: 4px;
  }
}


