---
layout: default
---

<div class="post-container">
  {% assign project = site.projects | where: 'short_name', page.project | first %}
  <div class="post-header align-center">
    <a href="{{project.url}}">
      <h3 class="{{ page.color }}">{{project.name}} </h3>
    </a>

    <h1 class="{{ page.color }}">{{ page.title }}</h1>
    <p class="{{ page.color }}">{{ page.subtitle }}</p>
    
    <h5 class="{{ page.color }}">
      {{ page.date | date: "%d/%m/%Y" }}
    </h5>
  </div>
  
  {% include content.html %}

</div>